*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
nav{
    background-color: #2874f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.plus-color{
    color: orange;
    font-weight: 100;
}
.logo p{
    color: white;
    font-style: italic;
    position: relative;
    top: -5px;
    font-size: 11px;
}
.searchbar{
    background-color: white;
    padding: 8px;
    width: 420px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    color: #2874f0;
    border-radius:2px;
    box-shadow: -7px -7px 10px rgb(0,0,0,0.1),
    7px 7px 10px rgb(0,0,0,0.1);
}
.searchbar input{
    width: 380px;
    border: none;
    outline: none;
    font-size: 14px;
    height: 20px;
}
.loginbtn{
    padding: 7px 40px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 550px;
    outline: none;
    color: #2874f0;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    cursor: pointer;
     box-shadow: -7px -7px 10px rgb(0,0,0,0.1),
    7px 7px 10px rgb(0,0,0,0.1); 
}
.navlink{
    margin: 0 35px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.angleDownIcon i{
    font-size: 10px;
}
.cartlogo i{
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    border: none;
    background-color: white;
    color: #2874f0;
    outline: none;
    cursor: pointer;
}

/* body Starting from here  */
.container{
    padding: 20px 20px 20px 10px;
    padding-inline-start: 32px;
}
.itemDiv{
    display: flex;
    text-decoration: none;
    line-height: 25px;
}
.itemTitle{
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
    color: black;
}
.review{
    font-size: 15px;
}
.addToCartLabel{
    padding: 20px 0 20px 20px;
}
.addToCompareLabel{
    padding: 20px 0 20px 20px;
}
.ratingContainer{
    padding-left: 30px;
}
.feature-list{
    padding:10px 0 0 50px;

}
.content{
   margin-right: 50px;
   margin-block: 20px;
   padding-bottom: 40px;
   border-bottom: 1px solid #f0f0f0;
}
.ratingContainer{
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-top: 17px;
}
.price-container{
    padding-left: 35%;
    line-height: 25px;
    gap: 8px;
}
.check-boxes{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}
input[type='checkbox'] {
    accent-color: #2874f0;
}

/* footer */

.footer{
    background-color: #172337;
}
.footerMain{
    display: flex;
    padding: 40px 78px 70px 65px;
    gap: 100px;
}
h4{
padding-bottom: 10px;
color: gray;
}
.rightDiv{
    color: white;
}
.footerMain .footer-column ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.footer-column ul li{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  }
.footer-column ul a{
text-decoration: none;
color: white;
}
.footer-column h3{
font-size: 12px;
font-weight: 500;
}
.footer-column:nth-child(5){
margin-left: 138px;
padding-left: 24px;
border-left: 1px solid #474D5D;
height: 140px;
font-size: 12px;
font-weight: 500;
line-height: 18px; 
  /* width: 435px; */
width: 235px;
}
.footer-column:nth-child(6) {

font-size: 12px;
font-weight: 400;
line-height: 18px; 
width: 212px;
} 
.footerbottom{
    display: flex;
    flex-direction: row;

}
