*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
nav{
    background-color: #2874f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.plus-color{
    color: orange;
    font-weight: 100;
}
.logo p{
    color: white;
    font-style: italic;
    position: relative;
    top: -5px;
    font-size: 11px;
}
.searchBar{
    background-color: white;
    padding: 8px;
    width: 420px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    color: #2874f0;
    border-radius:2px;
    box-shadow: -7px -7px 10px rgb(0,0,0,0.1),
    7px 7px 10px rgb(0,0,0,0.1);
}
.searchBar input{
    width: 380px;
    border: none;
    outline: none;
    font-size: 14px;
    height: 20px;
}
.loginbtn{
    padding: 7px 40px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 550px;
    outline: none;
    color: #2874f0;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    cursor: pointer;
     box-shadow: -7px -7px 10px rgb(0,0,0,0.1),
    7px 7px 10px rgb(0,0,0,0.1); 
}
.navLink{
    margin: 0 35px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.angleDownIcon i{
    font-size: 10px;
}
.cartlogo i{
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    border: none;
    background-color: white;
    color: #2874f0;
    outline: none;
    cursor: pointer;
}

/* body Starting from here  */
.container{
    padding: 20px 20px 20px 10px;
    padding-inline-start: 32px;
}
.itemDiv{
    display: flex;
    text-decoration: none;
    line-height: 25px;
}
a:hover{
    color: #2874f0;
}
.itemTitle{
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
    color: black;
}
.review{
    font-size: 15px;
}
.addToCartLabel{
    padding: 20px 0 20px 20px;
}
.addToCompareLabel{
    padding: 20px 0 20px 20px;
}
.ratingContainer{
    padding-left: 30px;
}
.feature-list{
    padding:10px 0 0 50px;

}

.content{
   margin-right: 50px;
   margin-block: 20px;
   padding-bottom: 40px;
   border-bottom: 1px solid #f0f0f0;
}
.ratingContainer{
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-top: 17px;
}
.price-container{
    padding-left: 35%;
    line-height: 25px;
    gap: 8px;
}
.check-boxes{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
}
input[type='checkbox'] {
    accent-color: #2874f0;
}

/* footer */

.footer{
    background-color: #172337;
}
.footerMain{
    display: flex;
    padding: 40px 78px 70px 65px;
    gap: 95px;
}
h4{
    padding-bottom: 10px;
    color: gray;
}
.rightDiv{
    color: white;
}
.footerMain .footer-column ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.footer-column ul li{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  }
.footer-column ul a{
text-decoration: none;
color: white;
}
.footer-column h3{
font-size: 12px;
font-weight: 500;
}
.footer-column:nth-child(5){
margin-left: 138px;
padding-left: 24px;
border-left: 1px solid #474D5D;
height: 140px;
font-size: 12px;
line-height: 18px;
width: 210px;
}
.footer-column:nth-child(6) {
font-size: 12px;
font-weight: 400;
line-height: 18px; 
width: 212px;
}
.footerBottom{
    display: flex;
    flex-direction: row;
    border-top: 1px solid #454d5e ;
    padding: 25px 0px 25px 0;
    align-items: center;
    justify-content: space-evenly;
}

.footerBottom .footerMenu a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

/* Compare button  */
.compareButton{
    display: none;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    background-color: #2874f0;
    color: white;
    position: fixed;
    z-index:2 ;
    bottom: 20px;
    right: 28px;
    margin-right: 20px;
    cursor: pointer;
    height: 40px;
    width: 144px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.compareButton.show{
    display: block;
}
.product-cards{
    display: flex;
    opacity: 0;
    max-height: 0;
    flex-direction: row;
    position: fixed;
    padding-bottom: 40px;
    right: 20px;
    bottom: 19px;
    background-color: white;
    font-size: 16px;
    font-weight: 400;
}

.compareButton:hover + .product-cards{
    opacity: 1;
    border: 1px solid rgba(228, 227, 227, 0.603);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    max-height: 500px;
    transition: opacity 1s ease-in-out;
    transition-delay: 1s;
}

.product-card{
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.product-cards img{
    height: 100px;
    padding-inline:40px;
    padding-bottom: 8px;
}
/* Media queries to make Responsive */
@media (max-width:1366px){
    nav{
        padding: 12px; /* Adjusted for responsiveness */
        align-items: center;
    }
    .footerMain{
        gap: 10px;
        display: flex;
    }
    .footerBottom{
        padding-left: 70px;
        padding-right: 80px;
        gap: 10px;
    }
    .footer-column{
        margin-left: 50px;
    }
}